/*Small reset*/
body, ul, ol, h1,h2,h3,h4,h5,h6,form,li,p{
margin:0;
padding:0;
}

/*Structured layout mainpage*/


body{
  background:transparent url("images/mainBg.gif") repeat 0 0;
  font-family:Tahoma, Arial;
  font-size:13px;
  position:relative;
  margin:0px;
}

.wrapper{ 
width:100%;
position:relative;
display:table;
background:transparent url("images/bg-new.png") no-repeat 0 0;
}

#top{
position:relative;
width:990px;
margin:0 auto;
}


/*HEAD AREA*/

#head{
z-index: 5;
margin:20px 0px;
}

#top .logo, .logo a{
display:block;
height:90px;
width:210px;
position:absolute;
left:0px;
top:0px;
border: none;
padding: 0;
margin:0;
}

#top .logo a, #top .logo a:hover{
top:0;
left:0;
text-indent:-9999px;
outline:none;
border: none;
}

#nav{
position: absolute;
right:15px;
top:30px;
list-style-type: none;
list-style-position: outside;
margin:0;
z-index: 5;
}

#nav li{
float: left;
}

#nav li a{
display:block;
float:left;
padding:6px 10px;
width:100px;
border: none;
text-decoration: none;
line-height: 18px;
outline: none;
}


#nav li a strong{
display:block;
font-weight: normal;
font-size: 16px;
}

#nav li a span{
display:block;
font-size: 10px;
}


/*navigation*/


#nav ul{
margin:0;
padding:0;
list-style-type:none;
list-style-position:outside;
position:relative;
line-height:50px; 
z-index:5;
}


#top #nav ul a{
line-height:28px;
font-size: 12px;
cursor: pointer;
}

#top #nav li{
float:left;
position:relative;
z-index:20;
margin-top:11px;
}

#top #nav li li{
border-left:none;
margin-top:0;
}

#top #nav ul {
display:none;
position:absolute;
top:48px;
width:172px;
left:0;
}

#top #nav li ul a{
width:150px;
height:auto;
float:left;
text-align:left;
padding:0 10px;
}

#top #nav ul ul{
top:auto;
border-top:none;
}	

#top #nav li ul ul {
left:171px;
top:-1px;
}

#top #nav li:hover ul ul, #top #nav li:hover ul ul ul,#top  #nav li:hover ul ul ul ul{
display:none;	
}
#top #nav li:hover ul, #top #nav li li:hover ul, #top #nav li li li:hover ul, #top #nav li li li li:hover ul{
display:block;
}

#top #nav li ul a{
border-top:none;
}




/*featured*/

#featured{
position:relative;
width:960px;
height:485px;
overflow: hidden;
}

#featured_image{
width:940px;
height:420px;
overflow: hidden;
margin:0 auto;
border: none;
}

#featured_image img, #featured_image a img {
position:absolute;
z-index: 2;
visibility: hidden;
}

#featured #featured_image .current_img, #featured #featured_image .current_img img{
z-index: 3;
visibility: visible;
}

/*infotext*/
#infotext{
width:940px;
padding:0 10px;
}

#infotext h2{
font-family:arial;
font-size:18px;
padding:10px 0 12px;
position:relative;
top:2px;
}

/*content*/

#main{
width:958px;
position: relative;
overflow: hidden;
padding:15px;
background:#FFFFFF;
border-left:solid 1px #cdcdcd;
border-right:solid 1px #cdcdcd;
line-height:21px;
}

#content{
width:610px;
margin:0;
overflow: hidden;
position:relative;
float:left;
}

.fullwidth #content{
width:940px;
}

#sidebar{
width:280px;
overflow: hidden;
margin-right:50px;
position:relative;
float:left;
}

#sidebar .box{
margin:0;
padding:0 0 10px 0;
}

#sidebar h2{
padding:20px 0 4px;
}

#sidebar .box a{
display:block;
line-height:22px;
padding:3px 10px;
}

#sidebar .box ul ul a{
padding:3px 10px 3px 20px;
}
#sidebar .box ul ul ul a{
padding:3px 10px 3px 30px;
}
#sidebar .box ul ul ul ula{
padding:3px 10px 3px 40px;
}
#sidebar .box ul ul ul ul ul a{
padding:3px 10px 3px 50px;
}


.box{
position:relative;
margin-right:50px;
float:left;
overflow: hidden;
padding-bottom: 50px;
}

.wrapper .box3{
margin:0;
}

.wrapper .box_small{
width:280px;
}

.wrapper .box_mini{
width:160px;
margin-right:20px;
}

.box_small h2{
padding:15px 0 4px 0;
}


/*blog*/
.entry{
position: relative;
padding-bottom:30px;
clear:both;
/*float:left;*/
width: 100%;
}

.entry .box{
padding-bottom:0;
}

.post_data{
border-left:none;
border-right:none;
font-size:11px;
line-height:22px;
padding:3px 1px;
position:relative;
float:left;
width:608px;
margin-bottom: 17px;
}

.post_data .categories{
float:left;
}

.post_data .author{
float:right;
}

.blogentry h2{
width:490px;
padding:5px 0 0 0;
}

.entry h2{
padding:5px 0 0 0;
}

.entry .date{
height:44px;
position:absolute;
right:0;
text-align:center;
width:112px;
top:8px;
}

.entry .day{
font-size:36px;
font-weight:bold;
line-height:45px;
display: block;
width:55px;
position: absolute;
top:0;
left:0;
height:40px;
}

.entry .month{
display:block;
font-size:18px;
left:60px;
line-height:1em;
position:absolute;
text-transform:uppercase;
top:6px;
width:50px;
}

.entry .year{
display:block;
font-size:14px;
font-weight:bold;
left:60px;
letter-spacing:2px;
line-height:1em;
position:absolute;
top:25px;
width:53px;
}

/*pagination*/

#top .pagination {
clear:both;
padding:0 0 60px 0;
position:relative;
z-index:3;
}

#top .pagination span, #top .pagination a{
display:block;
float:left;
font-size:11px;
line-height:13px;
margin: 2px 2px 2px 0;
padding:3px 6px;
text-decoration:none;
width:auto;
}


#top .pagination .current{
font-size:11px;
padding:3px 6px;
}

/*footer*/
#footer{
position: relative;
margin: 0 auto;
}

#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6, #footer a
{
color:#cbcbcb;
text-decoration: none;
font-size: 12px;
}

#footer .box_custom_footer{
width:220px;
margin-right:0;
}

#footer .box h4{
text-transform: uppercase;
font-size: 16px;
letter-spacing:1.3px;
}

#footer .box ul{
list-style-type: none;
list-style-position: outside;
margin:0;
} 

#footer .box ul li a{
display:block;
padding:3px 10px;
line-height:22px;
position: relative;
}

#footer .custom_button{
width:150px;
padding:10px 60px 10px 10px;
display: block;
text-align: center;
border: none;
}


.custom_button strong{
display: block;
font-size: 20px;
font-weight: normal;
letter-spacing:1px;
}

.custom_button span{
display: block;
font-size: 14px;
font-weight: normal;
letter-spacing:0.5px;
}

#sitesearch_footer{
padding-top:20px;
position: relative;
}

.box_custom_footer p{
font-size:11px;
line-height: 17px;
padding:10px 0;
}

#footer #s{
border: none;
width:160px;
padding:8px 50px 8px 10px;
color:#ccc;
}

#footer #searchsubmit{
border: none;
display:block;
height:35px;
position:absolute;
right:3px;
text-indent:-9999px;
top:47px;
width:35px;
cursor: pointer;
padding:0;
outline: none;
}

.wrapper #footer .social_bookmarks{
border:none;
display: block;
float: left;
width:100%;
}
.wrapper #footer .social_bookmarks li{
float:left;
margin:0;
width:16px;
margin-right:7px;
}

.wrapper #footer .social_bookmarks li a{
height:16px;
width:16px;
display: block;
float:left;
text-indent: -9999px;
border:none;
padding:0;
}





/*generic*/
.rounded{
-moz-border-radius: 4px;
-webkit-border-radius:4px;
border-radius:4px;
}

.more-link{
display:block;
line-height:16px;
padding:9px 0 0;
width:72px;
}

input, select, textarea{
font-size:13px;
font-family: Arial, Helevtica, Verdana, san-serif;
position:relative;
outline: none;
}

blockquote {
font-size:12px;
font-style:italic;
margin:0 0 20px;
padding:10px 20px 10px 41px;
}

.wrapper a{
text-decoration:none;
}

.wrapper a:hover{
text-decoration:none;
}

a img, a:hover img{
border:none;
text-decoration:none;
z-index: 2;
position: relative;
outline: none;
}

#main img{
float:left;
margin-bottom: 5px;
display: inline;
}

p{ padding: 0 0 1em 0}



#sidebar ul, #sidebar ol{
margin-left:0px;
}

#sidebar li{
list-style-type:none;	
}


h1,h2,h3,h4,h5,h6, legend{
letter-spacing: 0.4px;
font-weight:normal;
padding-bottom:5px;
line-height:40px;
position: relative;
font-family:"Georgia", Arial, Helvetica, san-serif;
font-style:italic;
}

h1{clear:both; font-size:38px;font-weight:bold;}
h2{font-size:36px; clear:both; margin-bottom:10px; }
h2.widgettitle, legend{font-size:22px; clear:both;}
h4{font-size:16px; clear:both;}
h5{font-size:14px; clear:both;}
h6{font-size:13px; clear:both;}

#top h1 a, #top h2 a, #top h3 a, #top h4 a, #top h5 a, #top h6 a{
text-decoration:none;
border:none;
} 

#top h1 a:hover, #top h2 a:hover, #top h3 a:hover, #top h4 a:hover, #top h5 a:hover, #top h6 a:hover{
text-decoration:none;
border:none;
} 



blockquote p{
padding:11px 0px;
}

blockquote{
margin:0 0 22px 5px;
padding:0 15px;
}

.floatleft{
float:left;
}

.floatright{
float:right;
}

.clearboth{
clear:both;
}

.alignleft{
float:left;
margin:0px 15px 15px 0pt;
}

.alignright{
float:right;
margin:0px 0pt 15px 15px;
}

.aligncenter{
clear:both;
display:block;
margin:10px auto;
padding: 10px 0;
}

#top .extra_margin_right{
margin-right:50px;
}

#top .no_margin_right{
margin-right:0;
}

#top .wp-smiley{
border:none;
padding:0;
}

.meta{
display:block;
position:relative;
top:3px;
font-size:11px;
line-height:14px;
}

.pp_details .pp_nav a.pp_arrow_previous, .pp_details .pp_nav a.pp_arrow_next {
margin-top:8px;
}

.pp_details .pp_nav {
margin:-3px 0 0;
}

.lightbox_video, .lightbox_image{
position: absolute;
z-index: 1;
top:0;
left:0;
}


#top .ie6_lightbox, #footerwrap .ie6_lightbox{
position: relative;
border:none;
}
/*CONTACT FORM*/	



#searchsubmit, #send, #top #submit{
cursor:pointer;
}



.text_input, .text_area{
padding:4px;
font-family: Arial, Helevtica, Verdana, san-serif;
width:200px;
font-size:11.5px;
}

#send, #submit{
padding:4px 20px;
font-family: Arial, Helevtica, Verdana, san-serif;
font-size:11.5px;
}

.hidden{
display:none;
}

#commentform{
padding-bottom:20px;
}


fieldset{
border:none;
padding:0;
margin:0;
overflow:hidden;
}

fieldset label{
padding-left:7px;
}
.blocklabel{
display:block;
padding:10px 0 0 0;
}

#top .text_area{
width:600px;
}

/*CONTACT FORM*/	
#send, #top #submit{
cursor:pointer;

}



/*comments*/


.commentlist{
margin-bottom:20px;
float:left;
width:100%;
}

#top .commentlist #comment{
width:70%;
}


.commentlist li{
width:100%;
clear:both;
float:left;
padding:0;
list-style-type:none;
padding:20px 0 0 0;
position:relative;
}
.commentlist .children, .commentlist .children li{
border:none;
}

.gravatar{
float:left;
width:60px;
padding:0px 10px;
text-align: center;
}

.gravatar img{
display:block;
padding:5px;
}

.comment_content{
float:left;
width:524px;
padding-bottom:20px;
}

.commentmetadata{
float:right;
padding-right:10px;
}

.commentmetadata a, .comment-edit-link, .comment-reply-link{
text-decoration: none;
font-size:10px;
}

#top .comment-reply-link{
border:none;
}

.comment-edit-link{
padding-left:10px;
}

.says{
display:none;
}

.author_name{
font-weight:bold;
font-style:normal;
font-size:15px;
float:left;
}

.comment_text{
clear:both;
}

.comment-reply-link{
text-align: center;
display: block;
}

.commentlist #respond{
padding-left:80px;
}

#cancel-comment-reply-link{
text-decoration: none;
margin-left:15px;
font-size: 10px;
}

.commentlist .children{
padding:0 0 0 70px;
}
.commentlist .children li .comment_content{
width:454px;
}

.commentlist .children .children li .comment_content{
width:384px;
}

.commentlist .children .children .children li .comment_content{
width:314px;
}

.commentlist .children .children .children .children li .comment_content{
width:244px;
}

.commentlist .children .children .children .children .children li .comment_content{
padding:0;
}

.comment_nav{
position: relative;
top:-13px;
font-size: 10px;
z-index: 4;
}

.comment_nav a{
text-decoration: none;
}

.comment_prev{
float:left;
}
.comment_next{
float:right;
}


/*********2nd stylesheet css*************/



/*Structured layout mainpage*/
body{
color:#454748;
}

/*.wrapper{ 
background: #fff url(images/bg.png) repeat-x left top;
}

#subpage .wrapper{
background: #fff url(images/bg.png) repeat-x 0 -370px;
}
*/
#footerwrap, #subpage #footerwrap{
background-color: #222;
background: none;
}

/*HEAD AREA*/

#top .logo a, #top .logo a:hover{
background: transparent url(images/logo.png) no-repeat left top;
}

#nav li a{
border-left:1px solid #484848;
color:#aaa;
}

#nav .current a, #nav li a:hover{
color:#fff;
}

#top #nav li ul a{
border:1px solid #484848;
border-top:none;
color:#aaa;
background-color: #222;
}

#top #nav li ul a:hover{
background-color:#262626;
color:#fff;
}

#top #nav li ul {
border-top:1px solid #484848;
}

/*featured*/

#featured{
background:transparent url(images/shadow.jpg) no-repeat scroll 0px 368px;
}

/*infotext*/
#infotext{
background:transparent url(images/bg_infotext.png) no-repeat scroll 0px -1px;
}

#infotext h2{
background:transparent url(images/bg_infotext.png) no-repeat scroll center bottom;
color:#555555;
}

#infotext h2 strong{
color: #ff9000;
}

/*content*/

#sidebar h2{
border-bottom:1px solid #d6d6d6;
}

#sidebar .box a{
background:transparent url(images/bullet_orange.png) no-repeat scroll left center;
border-bottom:1px solid #d6d6d6;
}

#sidebar .box ul ul a{
background:transparent url(images/bullet_black.png) no-repeat scroll 10px center;
}
#sidebar .box ul ul ul a{
background:transparent url(images/bullet_black.png) no-repeat scroll 20px center;
}
#sidebar .box ul ul ul ula{
background:transparent url(images/bullet_black.png) no-repeat scroll 30px center;
}
#sidebar .box ul ul ul ul ul a{
background:transparent url(images/bullet_black.png) no-repeat scroll 40px center;
}


/*blog*/

.post_data{
border:1px solid #d6d6d6;
border-left:none;
border-right:none;
}

.entry .date{
color:#8D8D8D;
}

.entry .day{
border-right:1px solid #cacaca;
}


/*pagination*/

#top .pagination span, #top .pagination a{
border:1px solid #666666;
}

#top .pagination a:hover{
border:1px solid #FF9000;
}

#top .pagination .current{
background-color: #666666;
border:1px solid #222;
color:#fff;
}




/*footer*/
#footer{
color: #cbcbcb;
}

#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6, #footer a
{
color:#cbcbcb;
}

#footer .box ul{
border-top:1px solid #4a4a4a;
} 

#footer .box ul li a{
border-bottom:1px solid #4a4a4a;
background: transparent url(images/bullet_grey.png) center left no-repeat;
}

#footer .box ul li a:hover{
background: #262626 url(images/bullet_grey.png) center left no-repeat;
color:#fff;
}

#footer .custom_button{
background: #494949 url(images/mail.png) 170px center  no-repeat;
color: #fff;
}

#footer .custom_button:hover{
background-color: #666;
}

#footer #s{
background-color: #494949;
color:#ccc;
}

#footer #searchsubmit{
background: transparent url(images/search.png) 2px center  no-repeat;
border-left:1px solid #222;
}
img.client{
	border: 5px #ccc solid; float:left; padding: 5px; margin:5px 15px 2px 5px;
}

a:hover img.client{
	border: 5px #fff solid; float:left; padding: 5px; margin:5px 15px 2px 5px;
}

.client_name{
	font-weight: bold; color:#eee;
}

.client_about{
	color: #999; font-style:italic; font-size: 12px;
}

.client_speak{
	margin-bottom: 10px; text-align:justify;
}

#footer{
position: relative;
margin: 40px 0px 0px;
}

#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6, #footer a
{
color:#cbcbcb;
text-decoration: none;
font-size: 12px;
}

#footer .box_custom_footer{
width:220px;
margin-right:0;
}

#footer .box h4{
text-transform: uppercase;
font-size: 16px;
letter-spacing:1.3px;
}

#footer .box ul{
list-style-type: none;
list-style-position: outside;
margin:0;
} 

#footer .box ul li a{
display:block;
padding:3px 10px;
line-height:22px;
position: relative;
}

#footer .custom_button{
width:150px;
padding:10px 60px 10px 10px;
display: block;
text-align: center;
border: none;
}


.custom_button strong{
display: block;
font-size: 20px;
font-weight: normal;
letter-spacing:1px;
}

.custom_button span{
display: block;
font-size: 14px;
font-weight: normal;
letter-spacing:0.5px;
}

#sitesearch_footer{
padding-top:20px;
position: relative;
}

.box_custom_footer p{
font-size:11px;
line-height: 17px;
padding:10px 0;
}

#footer #s{
border: none;
width:160px;
padding:8px 50px 8px 10px;
color:#ccc;
}

#footer #searchsubmit{
border: none;
display:block;
height:35px;
position:absolute;
right:3px;
text-indent:-9999px;
top:47px;
width:35px;
cursor: pointer;
padding:0;
outline: none;
}



.wrapper #footer .social_bookmarks .rss a{background: transparent url(images/rss_16.png) 0 0  no-repeat;}
.wrapper #footer .social_bookmarks .facebook a{background: transparent url(images/facebook_16.png) 0 0  no-repeat;}
.wrapper #footer .social_bookmarks .twitter a{background: transparent url(images/twitter_16.png) 0 0  no-repeat;}
.wrapper #footer .social_bookmarks .flickr a{background: transparent url(images/flickr_16.png) 0 0  no-repeat;}


.more-link{
background:transparent url(images/bullet_orange.png) no-repeat scroll right 15px;
}

input, select, textarea{
color:#777;
}

.wrapper a{
color:#045198;
}

.wrapper a:hover{
color:#045198;
text-decoration:underline;
}


h1,h2,h3,h4,h5,h6, legend{
color:#222;
}


#top h1 a, #top h2 a, #top h3 a, #top h4 a, #top h5 a, #top h6 a{
color:#222;
} 

#top h1 a:hover, #top h2 a:hover, #top h3 a:hover, #top h4 a:hover, #top h5 a:hover, #top h6 a:hover{
color:#555;
} 

.lightbox_video, .lightbox_image{
background:transparent url(images/video.png) no-repeat center center;
}

#top .lightbox_image{
background:transparent url(images/magnify.png) no-repeat center center;
}

/*comments*/
.gravatar img{
border:1px solid #D6D6D6;
}


/*CONTACT FORM*/	

.text_input, .text_area{
border:1px solid #D6D6D6;
}

#send, #submit{
border:1px solid #D6D6D6;
background-color: #222;
color: #fff;
}


#submit:hover, #send:hover{
background-color: #eee;
color: #222;
}


	
.valid .text_input, .valid .text_area{border:1px solid #70A41B;} /*#70A41B*/
.error .text_input, .error .text_area{border:1px solid #FF9000;}
.ajax_alert .text_input, .ajax_alert .text_area{border:1px solid #ffb628;}

/***comment css****/

.comment-author {
}

.comment-author img  {
  width: 60px;
  float: left;
  padding: 0 10px;
  text-align: center; 
}

.comment-author cite.fn {
  float: left;
}

.commentmetadata {
  float: right;
  margin-left: 79px;
  
}

.comment-body p {
  top: -20px;
  width: 100%;
  float: left;
  margin-left: 79px;
  position: relative;
}

#sidebar .box_small #cat{
    margin:20px 0;
}
.wrapper #footer .social_bookmarks{
border:none;
display: block;
float: left;
width:100%;
}
.wrapper #footer .social_bookmarks li{
float:left;
margin:0;
width:16px;
margin-right:7px;
}

.wrapper #footer .social_bookmarks li a{
height:16px;
width:16px;
display: block;
float:left;
text-indent: -9999px;
border:none;
padding:0;
}
.client_name  {
color:#EEEEEE;
font-weight:bold;

}

.wrapper #footer .box .client_name  a{
   text-decoration:none; 
   border:none;
}

#bottomnav {
float:right;
list-style-position:outside;
list-style-type:none;
margin:0;
z-index:5;
}
#nav li, #bottomnav li {
float:left;
}
#bottomnav li a {
border-left:1px solid #333333;
color:#666666;
display:block;
font-size:11px;
padding:0 10px;
border-bottom:none;
}
#sidebar .box .textwidget a {
 background:none;
 border-bottom:none;
}



/*----- CSS for new theme by Ashwani Sharma -----*/
#head .contact{
  float:right;
  width:300px;
  margin-top:10px;
}
#head .socialLinks{
  float:right;
  height:50px;
}
#head .socialLinks a{
  width:26px;
  height:26px;
  padding:7px;
  margin:0 5px;
  float:left;
  border-bottom:none;
}
#head .socialLinks a.rss{
  background:transparent url("images/sprite.png") no-repeat 0 -67px;
}
#head .socialLinks a.fb{
  background:transparent url("images/sprite.png") no-repeat 1px -107px;
}
#head .socialLinks a.twitter{
  background:transparent url("images/sprite.png") no-repeat 1px -147px;
}
#head .socialLinks a.mail{
  background:transparent url("images/sprite.png") no-repeat 0px -2901px;
}
#head .contactInfo{
  float:right;
  font-size:13px;
  width:100%;
  clear:both;
}
#head span.contactLabel{
  margin-left:20px;
}
#head span.contactLabel span.contactVal{
  color:#045198;
}


#head .bottomHeader{
  margin:15px 0px;
  width:990px;
  background:transparent url("images/sprite.png") right -238px no-repeat;
  clear:both;
  float:left;
}
#head .bottomHeader ul{
	background:transparent url("images/navBg.png") 0 0 repeat-x;
	float:left;
	width:912px;
	margin-left:-1px;
	height: 50px;
	list-style:none;
}
#head .bottomHeader ul li{
	float:left;
	list-style:none;
}
#head .bottomHeader a{
  float:left;
  color:#fff;
  font-size: 18px;
  padding:14px 26px 13px 26px;
  text-align:center;
}
#head .bottomHeader ul li a{
  background:transparent url("images/sprite.png") no-repeat 0 -339px;
}
#head .bottomHeader a.home{
  background:transparent url("images/sprite.png") no-repeat 0 -187px;
  width:70px;
  height:50px;
  padding:0px;
}
#head .bottomHeader ul li a.first{
  background:none;
}

.clear{ clear:both; }



#footer{
  background-color:#000;
}
#footer .cols{
  width:990px;
  margin:0 auto 10px;
  padding:29px 0;
  padding-bottom:14px;
  overflow:hidden;
  border-bottom:1px dashed #989898;
}
#footer .col{
  width:310px;
  float:left;
  padding-right:20px;
}
#footer .col hr{
  height:2px;
  color:#fff;
  background-color:#fff;
  border:none;
}
#footer .col .title{
  color:#fff;
  font-family:'Georgia';
  font-size:24px;
}
#footer .col .know{
  background:transparent url("images/sprite.png") no-repeat 0 -1023px;
}
#footer .col .clients{
  background:transparent url("images/sprite.png") no-repeat 0 -1052px;
}
#footer .col .twitter{
  background:transparent url("images/sprite.png") no-repeat 0 -1080px;
}
#footer .col .title span{
  display:block;
  margin-left:45px;
}
#footer .col .title span.blue{
  color:#4bb5f8;
  display:inline !important;
  margin-left:0;
}
#footer .col .txt{
  font-family:'Tahoma';
  margin-top:13px;
  min-height:150px;
}
#footer .col .txt a.txtTitle{
  color:#4bb5f8;
  font-size:16px;
}
#footer .col .txt .txtBody, #footer .col .txt .tweetTxt{
  color:#989898;
  margin-top:18px;
  font-size:13px;
}
#footer .col .txt .tweetTxt a, #footer .col .txt .tweetTxt .tweetBy, #footer .col span.twitterFollow a{
  color:#4bb5f8;
}
#footer .col a.smallBtn{
  margin-top:20px;
  background:transparent url("images/black-blue-buttons.png") no-repeat 0 0;
  float:left;
  padding-left:24px;
}
#footer .col a.smallBtn strong{
	background:transparent url("images/black-blue-buttons.png") no-repeat right -50px;
	float:left;
	height:50px;
	line-height:50px;
	padding-right:60px;
}
#footer .col a.smallBtn:hover{
  background:transparent url("images/black-blue-buttons.png") no-repeat 0 -100px;
  text-decoration:none;
}
#footer .col a.smallBtn:hover strong{
  background:transparent url("images/black-blue-buttons.png") no-repeat right -150px;
  cursor:pointer;
}
#footer .col .txt span.clientImg{
	float:left;
	background:transparent url("images/client-small.png") no-repeat 0 0;
	width:31px;
	height:41px;
}
#footer .col .txt span.clientImg img{
	float:left;
	width:31px;
	height:41px;
}
#footer .col .txt span.clientInfo{
  display:block;
  font-size:13px;
  position:relative;
  left:6px;
  top:-2px;
  width: 283px;
  height:41px;
}
#footer .col .txt span.clientInfo a{
  color:#fff;
}
#footer .col .txt .tweetTxt{
  border-bottom: 1px dotted #989898;
  text-align:justify;
}
#footer .col .txt .tweetTxt .tweetBy{
  overflow:hidden;
}
#footer .col .txt .tweetTxt .tweetBy span{
  float:right;
  padding:10px 0;
}
#footer .col span.twitterFollow{
  background:transparent url("images/sprite.png") no-repeat 0 -1111px;
  float:right;
  margin:7px 0;
}
#footer .col span.twitterFollow a{
  padding:2px 0 0 30px;
  height:18px;
  font-family:"Tahoma";
  font-size:13px;
  display:block;
}
#footer .btmFooter{
  width:990px;
  margin:0 auto;
  font-family:'Tahoma';
  font-size:13px;
}
#footer .footerNav{
  color:#3c3d3d;
}
#footer .footerNav a{
  color:#4bb5f8;
  padding:0 5px;
}
#footer .footerTxt{
  color:#989898 !important;
  padding:21px 0 30px;
}




a.blackBtn{
  background:transparent url("images/sprite.png") no-repeat 0 -1239px;
}
a.smallBtn{
  background:transparent url("images/sprite.png") no-repeat 0 -1180px;
  height:50px;
}
a.blackBtn, a.smallBtn{
  color:#fff;
  font-family:'Tahoma';
  font-size:13px;
  float:left;
}
a.blackBtn span{
  background:transparent url("images/sprite.png") no-repeat right -965px;
  display:block;
  width:48px;
  height:55px;
}
a.smallBtn span{
  background:transparent url("images/sprite.png") no-repeat right -1131px;
  display:block;
  width:48px;
  height:50px;
}


.page-bg-top { background:transparent url("images/page-bg-top.png") 0 0 no-repeat; width:990px; height:6px; float:left; display:block; }
.page-bg-bottom { background:transparent url("images/page-bg-bottom.png") 0 0 no-repeat; width:990px; height:6px; float:left; display:block; }


/*----- CSS for drop-down menus -----*/

#head .bottomHeader ul li:hover a { color:#4bb5f8; }
#head .bottomHeader ul li:hover ul { display:block; }

#head .bottomHeader ul li a:hover { text-decoration:none; color:#4bb5f8; }
#head .bottomHeader ul li { z-index:999; position:relative; }
#head .bottomHeader ul li ul { position:absolute; width:220px; float:left; border:solid 1px #002643; border-top:none; background:#00417c; padding:3px 15px 0px; top:50px; left:2px; list-style:none; height:auto; display:none; }
#head .bottomHeader ul li ul.first { width:150px; left:1px; }
#head .bottomHeader ul li ul li { width:100%; float:left; border-top:solid 1px #4bb5f8; list-style:none; }
#head .bottomHeader ul li ul li:first-child { border-top:none; }
#head .bottomHeader ul li ul li a { width:100%; float:left; padding:10px 0px!important; background:none!important; text-align:left; font-size:14px; color:#4bb5f8; }
#head .bottomHeader ul li ul li a:hover { text-decoration:none; color:#FFFFFF; }



/*----- Twitter Widget -----*/
#jTweets{
  color:#989898;
  font-family: 'Tahoma';
  margin-top: 13px;
  min-height: 130px;
}
#jTweets a{
  color:#4bb5f8;
}
.jta-tweet-profile-image, .jta-tweet-user-name{
  display:none;
}
.jta-tweet-attributes{
  float: right;
  padding: 10px 0;
	text-align:right;
	width:100%;
	font-size:11px;
}
.jta-tweet-attributes a { font-size:11px; }
li.jta-tweet-list-item{
  border-bottom: 1px dotted #989898;
  text-align: justify;
  font-size: 13px;
  margin-top: 13px;
  overflow: hidden;
}
.jta-tweet-body { overflow:hidden; }
.jta-clear { clear:both; height:2px; overflow:hidden; }




/*---- 404 Error CSS -----*/
body.error404{
	background:transparent url("images/bg-new.png") repeat 0 0;
	font-family:Tahoma, Arial;
	font-size:13px;
}
#wrapper404{
  width:990px;
  margin:0 auto;
}
#header404{
  height:145px;
  padding-top:15px;
  font-family:"Trebuchet MS";
}
#header404 h1.logo{
  float:left;
  width:192px;
  height:62px;
  background:transparent url("images/sprite.png") no-repeat 0 0;
}
#header404 h1.logo a{
  float:left;
  width:192px;
  height:66px;
}


.message-section404 { width:100%; min-height:320px; overflow:hidden; margin-top:20px; position:relative; }
.message-section404 .image-box { width:417px; height:316px; position:absolute; top:0px; left:10px; float:left; background:transparent url('images/iphone404.png') 0 0 no-repeat; }
.message-section404 .text-section { overflow:hidden; padding:20px 0px 0px 280px; }
.message-section404 .text-section .heading { font-family:Arial, Helvetica, sans-serif; font-size:45px; color:#000; }
.message-section404 .text-section .heading .indent-text { margin-left:110px; }
.message-section404 .text-section .heading .red-text { color:#ed1c24; }
.message-section404 .text-section .message-text { font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#000; padding:50px 0px 0px 170px; }

.links-section404 { width:100%; overflow:hidden; margin-top:55px; position:relative; }
.links-section404 a.home { background:transparent url('images/links404.png') 0 0 no-repeat; float:left; width:144px; height:44px; font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#000; text-decoration:none; text-align:center; padding-top:100px; margin-left:60px; }
.links-section404 a.blog { background:transparent url('images/links404.png') 0 -144px no-repeat; float:left; width:144px; height:44px; font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#000; text-decoration:none; text-align:center; padding-top:100px; margin-left:30px; }
.links-section404 a.portfolio { background:transparent url('images/links404.png') 0 -288px no-repeat; float:left; width:144px; height:44px; font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#000; text-decoration:none; text-align:center; padding-top:100px; margin-left:30px; }
.links-section404 a.careers { background:transparent url('images/links404.png') 0 -432px no-repeat; float:left; width:144px; height:44px; font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#000; text-decoration:none; text-align:center; padding-top:100px; margin-left:30px; }
.links-section404 a.contact { background:transparent url('images/links404.png') 0 -576px no-repeat; float:left; width:144px; height:44px; font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#000; text-decoration:none; text-align:center; padding-top:100px; margin-left:30px; }

.links-section404 a:hover { color:#ed1c24; text-decoration:none; }



/*----- Twitter Widget CSS -----*/
.twtr-hd, .twtr-avatar, .twtr-ft { display:none!important; }
#twtr-widget-1 .twtr-tweet-text { margin-left:0px!important; }
.twtr-widget .twtr-tweet-wrap { padding:12px 0px!important; }
.twtr-widget .twtr-tweet { border-bottom:dotted 1px #ffffff!important; height:85px!important; }
.twtr-tweets { position:relative; top:-12px; }